<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="Debug" type="log4net.Appender.DebugAppender">
    <immediateFlush value="true" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%5level [%thread] - %message (%file:%line)%newline" />
    </layout>
  </appender>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs/logfile.log" />
    <PreserveLogFileNameExtension  value="true"/>
    <appendToFile value="true" />
    <immediateFlush value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="20" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd hh:mm:ss tt} %level [%thread] %logger - %message %newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="WARN" />
    </filter>
  </appender>

  <appender name="LogglyAppender" type="Log4Netly.BufferedLogglyAppender, Log4Netly">
    <endpoint value="https://logs-01.loggly.com/"/>
    <token value="10d8551e-583e-450d-aeab-7adad90eec5f"/>
    <!--TODO: add your API Name and Environment here.-->
    <tags value="ApiNameHere,Environment"/>
    <bufferSize value="512" />
    <intervalInMs value="2500" />
  </appender>
  
  <!-- SQL Script for Logging table
 CREATE TABLE [dbo].[ApiLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[ApiName] [varchar](100) NOT NULL,
	[EntityId] [varchar](50) NULL,
	[CompanyId] [varchar] (50) NULL,
	[Thread] [varchar](255) NOT NULL,
	[LogLevel] [varchar](20) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[RequestHeaders] [varchar](1000) NULL,
	[ContentHeaders] [varchar](1000) NULL,
	[TraceId] [varchar](255) NULL,
	[RequestUrl] [varchar](1000) NULL,
	[IPs] [varchar](1000) NULL,
	[MachineName] [varchar](255) NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[IsException] [bit] NOT NULL,
	[Exception] [nvarchar](max) NULL
) ON [PRIMARY]-->
  
  <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=IQ-RGVSQL009.IQMETRIXHO.LOCAL;initial catalog=**Your DB Here**;integrated security=true;persist security info=True" />
    <commandText value="INSERT INTO [ApiLog] ([LogDate],[ApiName],[EntityId],[Thread],[LogLevel],[Logger],[RequestHeaders],[ContentHeaders],[TraceId],[RequestUrl],[IPs],[MachineName],[Detail], [IsException], [Exception]) 
                 VALUES (@log_date, @apiName, @entityId, @thread, @log_level, @logger, @requestHeaders, @contentHeaders, @traceId, @requestUrl, @IPs, @machineName, @message, @isException, @exception)" />
    <!--writes evey X records.  Good for Dev so you see some data sooner, maybe not so good for Live-->
    <bufferSize value="1"/>
    
    <!--TODO: Add an API Name. You'll see this in the logs to help determine the source of the messages-->
    <parameter>
      <parameterName value="@apiName" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout" value="ApiNameHere" />
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </parameter>
    <parameter>
      <parameterName value="@machineName" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="log4net:HostName" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@requestHeaders" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:requestHeaders" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@contentHeaders" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:contentHeaders" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@traceId" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:traceId" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@requestUrl" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:requestUrl" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@IPs" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:IPs" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@entityId" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:entityId" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="8000" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </parameter>
    <parameter>
      <parameterName value="@isException" />
      <dbType value="Boolean"/>
      <layout type="log4net.Layout.PatternLayout" >
        <conversionPattern value="%property{iq:isException}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String"/>
      <size value="8000" />
      <layout type="log4net.Layout.PatternLayout" value="%exception" />
    </parameter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="Warn" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="devons@iqmetrix.com" />
    <from value="NoReply@iqmetrix.com" />
    <subject value="Error from RestBucks" />
    <smtpHost value="iq-tosmtp.iqdca.local" />
    <bufferSize value="512" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="Error"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>
  
  <!-- Mongo Appender -->
  <!--<appender name="Mongo" type="Log4Mongo.MongoDBAppender, Log4Mongo">
    <connectionString value="mongodb://localhost:27017/logs" />
    <collectionName value="Restbucks" />
    <field>
      <name value="timestamp" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </field>
    <field>
      <name value="level" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </field>
    <field>
      <name value="thread" />
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </field>
    <field>
      <name value="loggerName" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </field>
    <field>
      <name value="traceId"/>
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:traceId" />
      </layout>
    </field>
    <field>
      <name value="headersRequest"/>
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:requestHeaders" />
      </layout>
    </field>
    <field>
      <name value="headersContent"/>
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:contentHeaders" />
      </layout>
    </field>
    <field>
      <name value="requestUrl"/>
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:requestUrl" />
      </layout>
    </field>
    <field>
      <name value="userName" />
      <layout type="log4net.Layout.PatternLayout" value="%username" />
    </field>
    <field>
      <name value="message" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </field>
    <field>
      <name value="machineIPs" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="iq:IPs" />
      </layout>
    </field>
    <field>
      <name value="machineName" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="log4net:HostName" />
      </layout>
    </field>
    <field>
      <name value="exception" />
      <layout type="log4net.Layout.PatternLayout" value="%exception" />
    </field>
    <field>
      <name value="stackTrace" />
      <layout type="log4net.Layout.PatternLayout" value="%stacktracedetail" />
    </field>
  </appender>-->
  
  <root>
    <!--Off, Fatal, Error, Warn, Info, Debug, All-->
    <level value="OFF" />
    <appender-ref ref="Debug" />
    <appender-ref ref="Console" />
    <!--<appender-ref ref="RollingFile" />-->
    <appender-ref ref="AdoNetAppender_SqlServer" />
    <!--<appender-ref ref="SmtpAppender" />-->
    <appender-ref ref="LogglyAppender" />
  </root>
</log4net>