<?xml version="1.0" encoding="utf-8" ?>

<LoggingConfigurationSection>

  <LoggingConfiguration xmlns="clr-namespace:IQ.Foundation.Logging;assembly=IQ.Foundation"
                        xmlns:assembly="http://schemas.microsoft.com/winfx/2006/xaml"
                        xmlns:sys="clr-namespace:System;assembly=mscorlib"
                         xmlns:l4n="clr-namespace:IQ.Platform.Framework.Logging;assembly=IQ.Platform.Framework.Logging"
                        xmlns:l4nf="clr-namespace:IQ.Foundation.Logging.Log4Net;assembly=IQ.Foundation.Logging.Log4Net">

    <LoggingConfiguration.LoggerTypes>
      <assembly:Array Type="sys:Type">
        <assembly:Type Type="l4n:Log4NetLogger" />
      </assembly:Array>
    </LoggingConfiguration.LoggerTypes>

  </LoggingConfiguration>

</LoggingConfigurationSection>